html {
	background-color: #e6e6e6;
}

header {
}

body {
	background-color: #ffffff;
	max-width: 1000px;
	margin: 0px auto 10px auto;
	border: 1px solid white;
	border-radius: 0px 0px 6px 6px;
	padding: 5px;
	font-size: 15px;
}

footer {
	font-size: small;
}

ul.nav a:hover {
	background-color: black !important;
}

.date {
	font-style: italic;
	font-size: small;
}

/*
a {
	color: #4169E1;
	text-decoration: none;
}

a:hover {
	color: #41B9E0;
	text-decoration: underline;
}

a:active {
	color: red;
}
*/
